{% extends "core/base.html" %}

{% block title %}
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-okaidia.min.css">

{% endblock %}


{% block content %}


<div class="card m-auto shadow p-3 mb-5 bg-white rounded">
	<h1 class="mt-3 text-center">Your Balance : {{ request.user.customer.balance }}</h1>
  <div class="card-body">
  <div class="form-group">
    <label for="exampleInputEmail1">Your Token</label>
    <input type="text" class="form-control" id="exampleInputEmail1" disabled="true" value="{{ request.user.customer.token }}">
  </div>
  </div>
</div>

  <div class="card m-auto shadow mb-5 bg-white rounded">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col text-center">
          <a href="{% url 'core:user_convert' %}" type="button" class="btn btn-success btn-block">Convert To Pdf</a>
        </div>
        <div class="col text-center">
          <a href="#" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Using Api</a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="{% url 'payments:add' %}" type="button" class="btn btn-dark btn-block">Add Balance</a>
        </div>
        <div class="col text-center">
          <a href="{% url 'users:delete' %}" type="button" class="btn btn-danger btn-block">Delete Account</a>
        </div>
      </div>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How to use Api</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">In this demo, i will be using python request library to send http request to the server and convert html document to pdf. here is the program.</p>
        
            <pre class=" language-python">
              <code class="language-python">
import requests

token = "90cb162608ae115e10bd4751786b70b131d2ff9b"

data = {'token':token}
files = {'file': open('index.html','rb')}

r = requests.post("http://localhost:8000/api-convert/",files = files,data = data)

if r.status_code == 200:
  with open("index.pdf","wb") as file:
    file.write(r.content)</code>
            </pre>  
</div>

    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-python.min.js
"></script>
{% endblock %}